{% extends "layout.html" %}

{% block title %}
Campus Thoughts
{% endblock %}

{% block content %}

<div class="container row gap-3">
    {% for post in  posts %}
    <div class="card" style="width: 18rem;">
      <img src="{{post.photo.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{post.user.username}}</h5>
        <p class="card-text">{{post.text}}</p>
        {% comment %} {% if post.user == user %} {% endcomment %}
        <a href="{% url 'post_edit' post.id%}" class="btn btn-primary">Edit</a>
        <a href="{% url 'post_delete' post.id%}" class="btn btn-danger">Delete</a>
        {% comment %} {% endif %} {% endcomment %}
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}